.search {
    height: 50px;
    width: 130px;
    margin: 0 auto;
}

.search_input {
    height: 20px;
    color: black;
    width: 130px;
}

.search_y {
    height: 50px;
    width: 45px;
    margin: 0 auto;
}

.search_year {
    height: 20px;
    color: brown;
    width: 45px;
}

.search_price {
    height: 20px;
    color: brown;
    width: 80px;
}

.search_p {
    height: 50px;
    width: 80px;
    margin: 0 auto;
}

.cat-head {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
    text-decoration: underline;
}

.cat-form {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cate-form {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cat-label {
    display: block;
    margin-bottom: 8px;
}

.cat-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

.cat-image {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.cat-button {
    /* background-color: #4caf50; */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 150px;
    margin: 0 42%;
}

.cat-button:hover {
    background-color: #45a049;
}

.cat-img {
    border-radius: 50%;
    margin-top: 50%;
    height: 80px;
}

.avail {
    color: cadetblue;
}

.count {
    color: red;
}

@media only screen and (min-width: 900px) {
    .search_panel {
        display: flex;
    }
}